<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sakura.sys.dao.RoomMapper">

	<select id="findHotelById" resultType="org.sakura.common.pojo.Room">
		select * from tb_room where hotelId = #{hotelId}

	</select>
	
</mapper>